.card {
    background-color: white;
    aspect-ratio: 5/7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 100ms;
    position: absolute;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
